.btn {
    background-color: #21618C;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;

    &:hover {
        background-color: #184867;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }

    &:disabled,
    &_disabled {
        background-color: #cdcdcd;
        pointer-events: none;
    }

    &_error {
        background-color: #ff6666;

        &:hover {
            background-color: #ff3333;
        }
    }
}
