.edit-product-component {
    &__row {
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__label {
        width: 200px;
        display: inline-block;
    }

    &__input {
        width: 400px;

        & + & {
            margin-left: 20px;
        }
    }

    .btn {
        margin-top: 20px;

        + .btn {
            margin-left: 185px;
        }
    }
}
